
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      {%  load static %}
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'student/shome.css'%}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="{%  url 'shome' %}">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'examregister' %}">Register for exam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Past Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'hallticket' %}">Hall Ticket</a>
          </li>
        </ul>
	  <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{% url 'password' %}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'password' %}">Change password</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
	 </div>
      </div>
    </nav>
    <main>
	<div class="col-sm-8">
        {% if msg %}
         <div class="alert alert-primary" role="alert">{{ msg }}</div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
				<legend>Change Password</legend>
                        <div class="form-group">
                            <label for="opass">Old Password</label>
                            <input type="password" class="form-control" name="opass" id="opass" />
                        </div>
                            <div class="form-group">
                                <label for="npass">New Password</label>
                                <input type="password" class="form-control" name="npass" id="npass" />
                            </div>
                            <div class="form-group">
                                <label for="rnpass">Retype New Password</label>
                                <input type="password" class="form-control" name="rnpass" id="rnpass" />
                            </div>
                            <button type="submit" name="submit" id="submit" class="btn btn-primary">Save Changes</button>
			</form>

		</div>
	</div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
     <script src="{% static 'js/popper.min.js' %}"></script>
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
