body{
	padding:0.5%;
	margin:0.5%;
}
header,footer{
	background:#1a4380;
	color:#ffffff;
	padding:1%;
	text-align:center;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
}
.image{
	width:33%;
	height:10%;
}
h2,div{
	color:#1a4380;
	text-align:center;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
}
form{
	color:#1a4380;
	font-family:verdana,sans-serif;
    width: 80%;
    margin: 0 auto;
}
#login,div>a{
	color:#ffffff;
	background:#1a4380;
	font-family:verdana,sans-serif;
	font-size:100%;
	display:block;
	height:20%;
	width:10%;
	margin:1% 0 0 45%;
	padding:0.5% 0 0.5% 0;
	text-decoration:none;
}
footer{
	margin-top:0.25%;
}
label, input {
    display: inline-block;
    padding:0.75%;
}

label {
    width: 50%;
    text-align: right;
    padding-right:25%;
}
input{
    width: 45%;
}
input + input {
    float: right;
}

.back{
  color:red;
}